.sprite1217 {
   background: url('ui_sprites.png') no-repeat -404px -324px;
   width: 34px;
   height: 34px;
}
.sprite1218 {
   background: url('ui_sprites.png') no-repeat -439px -33px;
   width: 34px;
   height: 34px;
}
.sprite1219 {
   background: url('ui_sprites.png') no-repeat -404px -358px;
   width: 34px;
   height: 34px;
}
.sprite1220 {
   background: url('ui_sprites.png') no-repeat -439px -67px;
   width: 33px;
   height: 32px;
}
.sprite1221 {
   background: url('ui_sprites.png') no-repeat -439px -195px;
   width: 33px;
   height: 32px;
}
.sprite1222 {
   background: url('ui_sprites.png') no-repeat -439px -227px;
   width: 33px;
   height: 32px;
}
.sprite1223 {
   background: url('ui_sprites.png') no-repeat -404px -144px;
   width: 35px;
   height: 36px;
}
.sprite1224 {
   background: url('ui_sprites.png') no-repeat -404px -36px;
   width: 35px;
   height: 36px;
}
.sprite1225 {
   background: url('ui_sprites.png') no-repeat -72px -409px;
   width: 36px;
   height: 35px;
}
.sprite1226 {
   background: url('ui_sprites.png') no-repeat -404px -0px;
   width: 35px;
   height: 36px;
}
.sprite1227 {
   background: url('ui_sprites.png') no-repeat -404px -72px;
   width: 35px;
   height: 36px;
}
.sprite1228 {
   background: url('ui_sprites.png') no-repeat -324px -409px;
   width: 36px;
   height: 35px;
}
.sprite1229 {
   background: url('ui_sprites.png') no-repeat -305px -130px;
   width: 29px;
   height: 47px;
}
.sprite1230 {
   background: url('ui_sprites.png') no-repeat -338px -365px;
   width: 36px;
   height: 35px;
}
.sprite1231 {
   background: url('ui_sprites.png') no-repeat -252px -409px;
   width: 36px;
   height: 35px;
}
.sprite1232 {
   background: url('ui_sprites.png') no-repeat -359px -323px;
   width: 24px;
   height: 36px;
}
.sprite1233 {
   background: url('ui_sprites.png') no-repeat -324px -189px;
   width: 47px;
   height: 29px;
}
.sprite1237 {
   background: url('ui_sprites.png') no-repeat -439px -131px;
   width: 33px;
   height: 32px;
}
.sprite1238 {
   background: url('ui_sprites.png') no-repeat -439px -99px;
   width: 33px;
   height: 32px;
}
.sprite1239 {
   background: url('ui_sprites.png') no-repeat -439px -163px;
   width: 33px;
   height: 32px;
}
.sprite1240 {
   background: url('ui_sprites.png') no-repeat -396px -409px;
   width: 36px;
   height: 33px;
}
.sprite1241 {
   background: url('ui_sprites.png') no-repeat -360px -409px;
   width: 36px;
   height: 33px;
}
.sprite1242 {
   background: url('ui_sprites.png') no-repeat -439px -0px;
   width: 36px;
   height: 33px;
}
.sprite1243 {
   background: url('ui_sprites.png') no-repeat -404px -180px;
   width: 35px;
   height: 36px;
}
.sprite1244 {
   background: url('ui_sprites.png') no-repeat -289px -323px;
   width: 35px;
   height: 36px;
}
.sprite1245 {
   background: url('ui_sprites.png') no-repeat -266px -365px;
   width: 36px;
   height: 35px;
}
.sprite1246 {
   background: url('ui_sprites.png') no-repeat -404px -252px;
   width: 35px;
   height: 36px;
}
.sprite1247 {
   background: url('ui_sprites.png') no-repeat -149px -323px;
   width: 35px;
   height: 36px;
}
.sprite1248 {
   background: url('ui_sprites.png') no-repeat -108px -409px;
   width: 36px;
   height: 35px;
}
.sprite1249 {
   background: url('ui_sprites.png') no-repeat -302px -365px;
   width: 36px;
   height: 35px;
}
.sprite1250 {
   background: url('ui_sprites.png') no-repeat -158px -365px;
   width: 36px;
   height: 35px;
}
.sprite1251 {
   background: url('ui_sprites.png') no-repeat -0px -248px;
   width: 216px;
   height: 28px;
}
.sprite1252 {
   background: url('ui_sprites.png') no-repeat -0px -276px;
   width: 209px;
   height: 17px;
}
.sprite1253 {
   background: url('ui_sprites.png') no-repeat -79px -323px;
   width: 35px;
   height: 36px;
}
.sprite1254 {
   background: url('ui_sprites.png') no-repeat -404px -288px;
   width: 35px;
   height: 36px;
}
.sprite1255 {
   background: url('ui_sprites.png') no-repeat -288px -409px;
   width: 36px;
   height: 35px;
}
.sprite1256 {
   background: url('ui_sprites.png') no-repeat -254px -323px;
   width: 35px;
   height: 36px;
}
.sprite1257 {
   background: url('ui_sprites.png') no-repeat -404px -216px;
   width: 35px;
   height: 36px;
}
.sprite1258 {
   background: url('ui_sprites.png') no-repeat -36px -409px;
   width: 36px;
   height: 35px;
}
.sprite1259 {
   background: url('ui_sprites.png') no-repeat -230px -365px;
   width: 36px;
   height: 35px;
}
.sprite1260 {
   background: url('ui_sprites.png') no-repeat -122px -365px;
   width: 36px;
   height: 35px;
}
.btn_hover {
   background: url('ui_sprites.png') no-repeat -0px -186px;
   width: 291px;
   height: 62px;
}
.line_dbl_t {
   background: url('ui_sprites.png') no-repeat -199px -444px;
   width: 19px;
   height: 16px;
}
.line_dbl_l {
   background: url('ui_sprites.png') no-repeat -307px -304px;
   width: 16px;
   height: 19px;
}
.line_dbl_r {
   background: url('ui_sprites.png') no-repeat -291px -304px;
   width: 16px;
   height: 19px;
}
.line_dbl_b {
   background: url('ui_sprites.png') no-repeat -180px -444px;
   width: 19px;
   height: 16px;
}
.sprite1266 {
   background: url('ui_sprites.png') no-repeat -439px -321px;
   width: 31px;
   height: 25px;
}
.sprite1267 {
   background: url('ui_sprites.png') no-repeat -184px -323px;
   width: 35px;
   height: 36px;
}
.sprite1268 {
   background: url('ui_sprites.png') no-repeat -219px -323px;
   width: 35px;
   height: 36px;
}
.sprite1269 {
   background: url('ui_sprites.png') no-repeat -180px -409px;
   width: 36px;
   height: 35px;
}
.sprite1270 {
   background: url('ui_sprites.png') no-repeat -324px -323px;
   width: 35px;
   height: 36px;
}
.sprite1271 {
   background: url('ui_sprites.png') no-repeat -114px -323px;
   width: 35px;
   height: 36px;
}
.sprite1272 {
   background: url('ui_sprites.png') no-repeat -0px -409px;
   width: 36px;
   height: 35px;
}
.sprite1273 {
   background: url('ui_sprites.png') no-repeat -86px -365px;
   width: 36px;
   height: 35px;
}
.sprite1274 {
   background: url('ui_sprites.png') no-repeat -194px -365px;
   width: 36px;
   height: 35px;
}
.corner_dbl_tl {
   background: url('ui_sprites.png') no-repeat -50px -444px;
   width: 25px;
   height: 25px;
}
.line_dbl_h2 {
   background: url('ui_sprites.png') no-repeat -291px -111px;
   width: 73px;
   height: 19px;
}
.corner_dbl_tr {
   background: url('ui_sprites.png') no-repeat -0px -444px;
   width: 25px;
   height: 25px;
}
.btn_pressed {
   background: url('ui_sprites.png') no-repeat -0px -62px;
   width: 291px;
   height: 62px;
}
.sprite1279 {
   background: url('ui_sprites.png') no-repeat -439px -346px;
   width: 25px;
   height: 31px;
}
.line_dbl_v1 {
   background: url('ui_sprites.png') no-repeat -305px -189px;
   width: 19px;
   height: 55px;
}
.line_dbl_v2 {
   background: url('ui_sprites.png') no-repeat -347px -248px;
   width: 19px;
   height: 55px;
}
.sprite1282 {
   background: url('ui_sprites.png') no-repeat -439px -259px;
   width: 31px;
   height: 31px;
}
.sprite1283 {
   background: url('ui_sprites.png') no-repeat -334px -130px;
   width: 42px;
   height: 44px;
}
.sprite1284 {
   background: url('ui_sprites.png') no-repeat -0px -365px;
   width: 42px;
   height: 44px;
}
.sprite1285 {
   background: url('ui_sprites.png') no-repeat -42px -365px;
   width: 44px;
   height: 42px;
}
.sprite1286 {
   background: url('ui_sprites.png') no-repeat -0px -323px;
   width: 44px;
   height: 42px;
}
.sprite1287 {
   background: url('ui_sprites.png') no-repeat -324px -218px;
   width: 31px;
   height: 25px;
}
.btn_normal {
   background: url('ui_sprites.png') no-repeat -0px -0px;
   width: 291px;
   height: 62px;
}
.corner_dbl_bl {
   background: url('ui_sprites.png') no-repeat -75px -444px;
   width: 25px;
   height: 25px;
}
.corner_dbl_br {
   background: url('ui_sprites.png') no-repeat -25px -444px;
   width: 25px;
   height: 25px;
}
.sprite1291 {
   background: url('ui_sprites.png') no-repeat -439px -290px;
   width: 25px;
   height: 31px;
}
.line_dbl_h1 {
   background: url('ui_sprites.png') no-repeat -291px -92px;
   width: 73px;
   height: 19px;
}
.sprite1293 {
   background: url('ui_sprites.png') no-repeat -250px -444px;
   width: 2px;
   height: 12px;
}
.sprite1294 {
   background: url('ui_sprites.png') no-repeat -44px -323px;
   width: 35px;
   height: 36px;
}
.sprite1295 {
   background: url('ui_sprites.png') no-repeat -216px -409px;
   width: 36px;
   height: 35px;
}
.sprite1296 {
   background: url('ui_sprites.png') no-repeat -404px -108px;
   width: 35px;
   height: 36px;
}
.sprite1297 {
   background: url('ui_sprites.png') no-repeat -144px -409px;
   width: 36px;
   height: 35px;
}
.btn_disabled {
   background: url('ui_sprites.png') no-repeat -0px -124px;
   width: 291px;
   height: 62px;
}
.line_t {
   background: url('ui_sprites.png') no-repeat -272px -293px;
   width: 14px;
   height: 16px;
}
.line_l {
   background: url('ui_sprites.png') no-repeat -234px -444px;
   width: 16px;
   height: 14px;
}
.line_r {
   background: url('ui_sprites.png') no-repeat -218px -444px;
   width: 16px;
   height: 14px;
}
.line_b {
   background: url('ui_sprites.png') no-repeat -258px -293px;
   width: 14px;
   height: 16px;
}
.sprite1303 {
   background: url('ui_sprites.png') no-repeat -439px -403px;
   width: 26px;
   height: 20px;
}
.corner_tl {
   background: url('ui_sprites.png') no-repeat -140px -444px;
   width: 20px;
   height: 20px;
}
.line_h2 {
   background: url('ui_sprites.png') no-repeat -216px -248px;
   width: 74px;
   height: 14px;
}
.sprite1306 {
   background: url('ui_sprites.png') no-repeat -100px -444px;
   width: 20px;
   height: 20px;
}
.sprite1307 {
   background: url('ui_sprites.png') no-repeat -383px -156px;
   width: 20px;
   height: 26px;
}
.sprite1308 {
   background: url('ui_sprites.png') no-repeat -291px -189px;
   width: 14px;
   height: 59px;
}
.sprite1309 {
   background: url('ui_sprites.png') no-repeat -291px -130px;
   width: 14px;
   height: 59px;
}
.sprite1310 {
   background: url('ui_sprites.png') no-repeat -439px -377px;
   width: 26px;
   height: 26px;
}
.sprite1311 {
   background: url('ui_sprites.png') no-repeat -291px -0px;
   width: 92px;
   height: 92px;
}
.sprite1312 {
   background: url('ui_sprites.png') no-repeat -355px -218px;
   width: 26px;
   height: 20px;
}
.sprite1313 {
   background: url('ui_sprites.png') no-repeat -180px -460px;
   width: 1px;
   height: 4px;
}
.sprite1314 {
   background: url('ui_sprites.png') no-repeat -383px -182px;
   width: 20px;
   height: 26px;
}
.sprite1315 {
   background: url('ui_sprites.png') no-repeat -291px -248px;
   width: 56px;
   height: 56px;
}
.corner_bl {
   background: url('ui_sprites.png') no-repeat -160px -444px;
   width: 20px;
   height: 20px;
}
.corner_br {
   background: url('ui_sprites.png') no-repeat -120px -444px;
   width: 20px;
   height: 20px;
}
.line_h1 {
   background: url('ui_sprites.png') no-repeat -209px -276px;
   width: 74px;
   height: 14px;
}
.sprite1319 {
   background: url('ui_sprites.png') no-repeat -383px -44px;
   width: 21px;
   height: 44px;
}
.line_h4 {
   background: url('ui_sprites.png') no-repeat -129px -293px;
   width: 129px;
   height: 16px;
}
.sprite1321 {
   background: url('ui_sprites.png') no-repeat -383px -0px;
   width: 21px;
   height: 44px;
}
.line_h3 {
   background: url('ui_sprites.png') no-repeat -0px -293px;
   width: 129px;
   height: 16px;
}
.sprite1323 {
   background: url('ui_sprites.png') no-repeat -383px -88px;
   width: 20px;
   height: 34px;
}
.line_dbl_h4 {
   background: url('ui_sprites.png') no-repeat -129px -309px;
   width: 129px;
   height: 14px;
}
.sprite1325 {
   background: url('ui_sprites.png') no-repeat -383px -122px;
   width: 20px;
   height: 34px;
}
.line_dbl_h3 {
   background: url('ui_sprites.png') no-repeat -0px -309px;
   width: 129px;
   height: 14px;
}