{{#yield-scripts}}
<script src="https://cdn.rawgit.com/konvajs/konva/1.7.6/konva.min.js"></script>
{{#prod}}
<script src="/scripts/dist/bhex.js"></script>
<script src="/scripts/dist/3rd.js"></script>
<script src="/scripts/dist/visual.js"></script>
<script src="/scripts/dist/app.js"></script>
{{/prod}}
{{^prod}}
<script src="/scripts/dist/bhex.js"></script>
<script src="/scripts/dist/3rd.js"></script>
<script src="/scripts/visual/terrain_images.js"></script>
<script src="/scripts/visual/unit_vis.js"></script>
<script src="/scripts/visual/hex_vis.js"></script>
<script src="/scripts/visual/move_line_vis.js"></script>
<script src="/scripts/visual/tooltip_vis.js"></script>
<script src="/scripts/visual/unit_move_anim.js"></script>
<script src="/scripts/visual/highlight_layer.js"></script>
<script src="/scripts/visual/effect_layer.js"></script>
<script src="/scripts/visual/unit_layer.js"></script>
<script src="/scripts/visual/terrain_layer.js"></script>
<script src="/scripts/visual/tooltip_layer.js"></script>
<script src="/scripts/visual/wait_layer.js"></script>
<script src="/scripts/app/game/fetch.js"></script>
<script src="/scripts/app/game/army.js"></script>
<script src="/scripts/app/grid.js"></script>
<script src="/scripts/app/animator.js"></script>
<script src="/scripts/app/eventbus.js"></script>
<script src="/scripts/app/damage.js"></script>
<script src="/scripts/app/stage.js"></script>
<script src="/scripts/app/game/battle.js"></script>
{{/prod}}
<script src="/scripts/requests/websocket_request.js"></script>
<script src="/scripts/start/regular.js"></script>
{{/yield-scripts}}
{{#yield-body}}
<div id="container"></div>
{{/yield-body}}