{{#yield-scripts}}
<script>
    function joinBattle(battleId){
        sessionStorage.setItem('battleid', battleId);
        window.location = '/battle';
    }
</script>
{{/yield-scripts}}
{{#yield-body}}
<div>
    <p>Select battle:</p>
    <ul>
        <li><a href="/battle">Start new battle</a></li>
        <li><a href="/single">Hot seat</a></li>
    </ul>
</div>
<div>
    <p>Open battles</p>
    <ul>
        {{#battles}}
        <li><a href="#" onclick="joinBattle('{{name}}')">{{name}}</a></li>
        {{/battles}}
    </ul>
</div>
{{/yield-body}}
