<html>
  <head>
      <title>{{title}}</title>
      <link rel="stylesheet" href="/styles/style.css"/>        
  </head>
    <body>
        <script> 
            module = {};
        </script>
        <script src="https://cdn.rawgit.com/konvajs/konva/1.7.6/konva.min.js"></script>
        <script src="/scripts/dist/bhex.js"></script>
        <script src="/scripts/dist/3rd.js"></script>
        <script src="/scripts/visual/terrain_images.js"></script>
        <script src="/scripts/visual/unit_vis.js"></script>
        <script src="/scripts/visual/hex_vis.js"></script>
        <script src="/scripts/visual/move_line_vis.js"></script>
        <script src="/scripts/visual/tooltip_vis.js"></script>
        <script src="/scripts/visual/unit_move_anim.js"></script>
        <script src="/scripts/visual/highlight_layer.js"></script>
        <script src="/scripts/visual/effect_layer.js"></script>
        <script src="/scripts/visual/unit_layer.js"></script>
        <script src="/scripts/app/game/fetch.js"></script>
        <script src="/scripts/app/game/army.js"></script>
        <script src="/scripts/app/grid.js"></script>
        <script src="/scripts/app/animator.js"></script>
        <script src="/scripts/app/damage.js"></script>
        <script src="/scripts/app/stage.js"></script>
        {{{yield-scripts}}}
        <div id="container"></div>
    </body>
</html>


