{{#yield-body}}
<div id="battle-scene">
    <div id="container"></div>
</div>

{{/yield-body}}
{{#yield-scripts}}
<script src="https://unpkg.com/konva@4.1.2/konva.min.js"></script>
<script src="/scripts/dist/bhex.js"></script>
<script src="/scripts/dist/3rd.js"></script>
<script src="/scripts/visual/terrain_images.js"></script>
<script src="/scripts/visual/unit_vis.js"></script>
<script src="/scripts/visual/hex_vis.js"></script>
<script src="/scripts/visual/move_line_vis.js"></script>
<script src="/scripts/visual/tooltip_vis.js"></script>
<script src="/scripts/visual/unit_move_anim.js"></script>
<script src="/scripts/visual/effect_layer.js"></script>
<script src="/scripts/visual/unit_layer.js"></script>
<script src="/scripts/visual/terrain_layer.js"></script>
<script src="/scripts/visual/tooltip_layer.js"></script>
<script src="/scripts/visual/wait_layer.js"></script>
<script src="/scripts/visual/shapes.js"></script>
<script src="/scripts/app/game/fetch.js"></script>
<script src="/scripts/app/game/army.js"></script>
<script src="/scripts/app/grid.js"></script>
<script src="/scripts/app/animator.js"></script>
<script src="/scripts/app/eventbus.js"></script>
<script src="/scripts/app/damage.js"></script>
<script src="/scripts/app/cullview.js"></script>
<script src="/scripts/app-design/game/design_battle.js"></script>
<script src="/scripts/app-design/design_stage.js"></script>
<script src="/scripts/start/design.js"></script>
{{/yield-scripts}}
